@use 'fence' as *;

*#{$legacy},
*#{$legacy}::before,
*#{$legacy}::after {
  box-sizing: border-box;
}

h1#{$legacy},
h2#{$legacy},
h3#{$legacy},
h4#{$legacy},
h5#{$legacy},
h6#{$legacy},
p#{$legacy},
ul#{$legacy},
ol#{$legacy},
figure#{$legacy} {
  margin: 0;
}

ul#{$legacy},
ol#{$legacy} {
  padding: 0;
}

img#{$legacy} {
  max-width: 100%;
  display: block;
}
