<h1>Sobre</h1>

<section class="about-section">
  <p>
    Grimorio é um projeto pessoal e gratuito, sem fins lucrativos, feito por um fã para outros fãs de
    Magic: The Gathering.
  </p>

  <p>
    Grimorio é Fan Content não-oficial, permitido segundo a
    <a href="https://company.wizards.com/en/legal/fancontentpolicy" target="_blank" rel="noopener"
      >Fan Content Policy</a
    >
    da Wizards of the Coast. Não é aprovado nem endossado pela Wizards. Partes dos materiais usados são
    propriedade da Wizards of the Coast. ©Wizards of the Coast LLC.
  </p>

  <p>
    Os dados e imagens de cartas exibidos no Grimorio são fornecidos por
    <a href="https://scryfall.com" target="_blank" rel="noopener">Scryfall</a>.
  </p>
</section>
